main {
    margin-top: 60px;
  }

  body {
    
    margin-top: 60px;
    margin-bottom: 60px;
  
    color: rgb(209, 209, 209);
    background-color: black;
  }
  
  form {
    width: 350px;
    margin-bottom: 10px;
  }

  input {
    background-color: rgb(136, 135, 135);
    border-width: 0px;
    border-radius: 5px;
  }
  
  ul {
    margin-bottom: 0px;
  }


.Section {
  background-color: rgb(55, 55, 55);
  border-radius: 10px;
  padding: 35px 35px;
  margin: 30px;
}

table,
.tableclass {
  width: 70%;
  padding: 10px 10x;
  vertical-align: middle;
  
} 

th,
th { 
  width: 150px;
  padding: 10px 20px;
} 

tr,
tr { 
  padding: 5px;

}

td,
td { 
  padding: 10px 20px;

}

.tdnopadding {
  padding: 0px 20px 0px 0px;

}