/* Main CSS File */

main {
    margin-top: 60px;
  }

    body {
    
    margin-top: 60px;
    margin-bottom: 60px;
  
    color: rgb(209, 209, 209);
    background-color: black;
  }

  /* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 50px;
  border-radius: 10px;
  vertical-align: middle;
}

.inactive {
  color: #f2f2f2;
  background-color: #333;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: auto;
  padding-bottom: auto;
  font-size: 17px;
  text-decoration: none;
  vertical-align: top;
  position: relative;
}

.active {
  color: #ffffff;
  background-color: #04AA6D;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: auto;
  padding-bottom: auto;
  font-size: 17px;
  text-decoration: none;
  vertical-align: middle;

  font-weight: bold;
}

/* Change the color of links on hover */
NavLink:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}

  form {
    width: 350px;
    margin-bottom: 10px;
  }

  input {
    background-color: rgb(136, 135, 135);
    border-width: 0px;
    border-radius: 5px;
  }

  button {
    color: rgb(209, 209, 209);
    background-color: rgb(55, 55, 55);
    border-width: 0px;
    border-radius: 24px;
    border-style: solid;
    border-color: rgb(209, 209, 209);
    border-width: 1px;
    opacity: 1;
    font-size: 12px;
    font-weight: bold;
    box-shadow: rgb(209 209 209 / 30%) 0 1px 3px 0, rgb(209 209 209 / 15%) 0 4px 8px 3px;
    padding: 10px 30px;
    float: right;
  }

  button:hover {
    opacity: 0.6;
  }
  
  ul {
    margin-bottom: 0px;
  }


.Section {
  background-color: rgb(55, 55, 55);
  border-radius: 10px;
  padding: 35px 35px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

table,
.tableclass {
  width: 65%;
  padding: 10px 10x;
  vertical-align: middle;
  
} 

th,
th { 
  width: 180px;
  padding: 10px 20px;
} 

tr,
tr { 
  padding: 5px;

}

td,
td { 
  padding: 10px 20px;
  width: 400px;

}

.tdnopadding {
  padding: 0px 20px 0px 0px;
  float: left;

}